﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div id="formdiv" class="row">

    @{
        Html.RenderAction("index", "WizardAjax");
    }

</div>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            init();
        });

        function init() {

            

            var submitActor = null;
            var $form = $('form');
            var $submitActors = $form.find('input[type=submit]');

            $submitActors.click(function (event) {
                submitActor = this;
            });

            $('form').off("submit").submit(function () {
                if ($("form").valid()) {

                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize() + "&action=" + submitActor.value + "",
                        success: function (html) {
                            $('#formdiv').html(html);
                            init();
                           
                        }
                    });

                }
                return false;
            });
            $.validator.unobtrusive.parse("form");
        }
    </script>
}