﻿@model WizardMvc.Models.WizardModel


@{
    var stepAction = "";
    switch (Model.CurrentStepIndex)
    {
        case 0:
            stepAction = "step1";
            break;
        case 1:
            stepAction = "step2";
            break;
        case 2:
            stepAction = "step3";
            break;
    }

}


<h3>Step @(Model.CurrentStepIndex + 1) out of 3</h3>

@using (Html.BeginForm(stepAction, "WizardAjax"))
{

    @Html.Hidden("wizard", SerializationUtility.Serialize(Model))

    switch (Model.CurrentStepIndex)
    {
        case 0:
            @Html.EditorFor(x => Model.Step1,null,  "")
            break;
        case 1:
        @Html.EditorFor(x => Model.Step2, null, "")
            break;
        case 2:
        @Html.EditorFor(x => Model.Step3, null, "")
            break;
    }


    if (Model.CurrentStepIndex > 0)
    {
        <input type="submit" value="Previous" name="prev" class="cancel" />
    }

    if (Model.CurrentStepIndex < 2)
    {
        <input type="submit" value="Next" name="next" />
    }
    else
    {
        <input type="submit" value="Finish" name="finish" />
    }
}



